# Virtual environment
venv/
.venv/

production_data.json

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db